body{
    font-family: 'Poppins';
    margin:0;
    padding: 0;
}

p {
    font-size: 20px;
}

li{
    list-style: none;
    margin-right: 25px;
}


/* Atributos de listado en el nav */

/*Id*/
#primer-elmento {
    font-size: 30px;
}

/*Clases*/
.primer-elemento {
    color:green;
}

.ultimo-elemento {
    background: blue;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
}

li {
    list-style: none;
    margin-right: 25px;
}

.titular {
    text-align: center;
    margin-top:200px;
}

h1{
    font-size: 60px;
    margin:0px;

}

h2{
    font-size: 25px;
    margin-bottom: 40px;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    background: #5cb8ff;
    padding: 20px 30px 20px 30px;
}

header {
    background: url(../img/fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

/*Arranca seccion sobre mi*/
h3{
    text-align:center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobremi {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-parrafo-y-boton{
    width: 42%

}

/*Se aplica estilo a los parrafos contenidos en esta clase
a esto se le llama estilos en cadena
*/
.contenedor-parrafo-y-boton p{
    font-size: 18px;
}

.contenedor-parrafo-y-boton a{
    margin-top: 20px;
/* Se asignan propiedades de bloque  a un elemento que esta en linea*/    
    display: inline-block; 
}


/*Inicia Seccion de Servicios*/

.contenedor-servicios {
    display: flex;
   /* Para alinear elementos del flex */ 
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Se disminuye el tamaño para que el flex wrap acomode los elementos */
.servicio {
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.violeta {
    background: #5055df;
}
    
.celeste {
    background: #40a8fa;
}

.servicio h4{
    font-size: 30px;
    margin:0;
}

.servicio img{
    float: right;
}

.servicio p {
    font-size: 18px;
}