p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
    margin-right: 25px;
}


/* Atributos de listado en el nav */

/*Id*/
#primer-elmento {
    font-size: 30px;
}

/*Clases*/
.primer-elemento {
    color:green;
}

.ultimo-elemento {
    background: blue;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
}

