body{
    font-family: 'Poppins';
    margin:0;
    padding: 0;
}

p {
    font-size: 20px;
}

li{
    list-style: none;
    margin-right: 25px;
}


/* Atributos de listado en el nav */

/*Id*/
#primer-elmento {
    font-size: 30px;
}

/*Clases*/
.primer-elemento {
    color:green;
}

.ultimo-elemento {
    background: blue;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
}

li {
    list-style: none;
    margin-right: 25px;
}

.titular {
    text-align: center;
    margin-top:200px;
}

h1{
    font-size: 60px;
    margin:0px;

}

h2{
    font-size: 25px;
    margin-bottom: 40px;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    background: #5cb8ff;
    padding: 20px 30px 20px 30px;
}

header {
    background: url(../img/fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

/*Arranca seccion sobre mi*/
h3{
    text-align:center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobremi {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-parrafo-y-boton{
    width: 42%

}

/*Se aplica estilo a los parrafos contenidos en esta clase
a esto se le llama estilos en cadena
*/
.contenedor-parrafo-y-boton p{
    font-size: 18px;
}

.contenedor-parrafo-y-boton a{
    margin-top: 20px;
/* Se asignan propiedades de bloque  a un elemento que esta en linea*/    
    display: inline-block; 
}


/*Inicia Seccion de Servicios*/

.contenedor-servicios {
    display: flex;
   /* Para alinear elementos del flex */ 
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Se disminuye el tamaño para que el flex wrap acomode los elementos */
.servicio {
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.violeta {
    background: #5055df;
}
    
.celeste {
    background: #40a8fa;
}

.servicio h4{
    font-size: 30px;
    margin:0;
}

.servicio img{
    /*Mandar el icono al lado derecho*/
    float: right;
}

.servicio p {
    font-size: 18px;
    /*Se define este height para que el parrafo se mantenga de un mismo tamaño y los iconos no se muevan o esten fijos*/
    height: 50%;
    
}


/* Modifaciones al owl carousel */
span{
    font-size: 80px;
    color:blue;
}

.owl-nav {
    text-align: center;
}

/******* fin de moficaciones owl carousel*****/

.contenedor-porque {
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.contenedor-porque h4 {
    margin:0;
    font-size: 20px;
}

.contenedor-porque p{
    font-size: 16px;
    line-height: 23px;
}

.porque-singular {
    width: 28%;
}

/* Seccion de blog*/

#blog {
    background: #f9fafc;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-publicaciones {
    display:flex;
    justify-content: space-around;
}

.publicacion {
    width: 30%;
    box-shadow: 1px 1px 14px #ccc;
    padding-bottom: 20px;
}

#blog img{
    width: 100%;
}

#blog h4 {
    font-size: 23px;
    margin:0;
    padding: 20px;
}

#blog p {
    color: #5a6169;
    line-height: 24px;
    font-size: 16 px;
    padding: 10px 20px 20px 20px;
    margin:0;
}

#blog a{
    display: inline-block;
    margin-left: 20px;
}

.publicacion-segunda img {
    height: 245px;
   
}

.primer-parrafo {
    padding: 0px 20px 20px 20px !important;
}

/*Seccion que esperas*/

/*Se aplica un degradado*/
#que-esperas{
/*rgba(red,green,blue,alpha - transparencia)*/
    background: linear-gradient(rgba(84,93,220,.94),rgba(96,171,245,.9));
    text-align: center;
    padding:50px 0 50px 0;
}

#que-esperas a {

    padding: 15px 45px 15px 45px;
   /*Una vez que deja de pasar el puntero del mouse se aplique tambien el efecto*/
    transition: 1s;

}

/*Se agrega efecto al pasar el mouse encima*/
#que-esperas a:hover{
    color:black;
    /*Para que el cambio de color sea suavizado y no brusco*/
    transition: 1s;
    
    /*Efecto que hace crecer el link tipo boton*/
    transform: scale(1.1);

    /*Efecto que hace rotar el link tipo boton*/
    /*transform: rotate(360deg);*/
    display:inline-block;
}

#que-esperas h3 {
    font-size: 23px;
    color: #fff;
    margin-bottom: 40px;
}

#whatsapp a{
   background: none; 
   /*Dejar la posicion fija para que siempre este en pantalla*/
   /*las propiedades top y right solo funcionan con fixed*/
   position: fixed;
   top: 88%;
   right: 1%;
}


.menu-icon {
    display:none
}

/*Seccion responsiva*/
@media (max-width: 800px){
    /*Se va aplicar cuando el MAXIMO DE ANCHO sea de 480px*/
    
    
    /*Menu Nav a la izquierda*/
    nav{
        position:absolute;
        top: 70px;
        left: 0px;
        background: #5cb8ff;
        width: 100%;
        display:none;
    }

    nav .lista {
        flex-direction: column;
        display: flex;
    }

    .menu-icon {
        display:block;
        width: 25px;
    } 

    .titular {
        margin-top: 54px
    }

    h1{
        font-size: 49px;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        font-size: 43px;
    }

    .contenedor-sobremi {
        flex-direction: column;
    }

    .contenedor-parrafo-y-boton {
        width:90%;
    }

    .contenedor-servicios {
        flex-direction: column;
    }

    .servicio {
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
    }

    .contenedor-porque{
        flex-direction: column;
    }

    .porque-singular {
        width: 95%;
    }

    .contenedor-publicaciones {
        flex-direction: column;
    }

    .publicacion {
        width: 95%;
        margin: auto;
    }


    /* Esto se pone para hacer ajueste del viewport en el ipad*/

    @media (min-width: 700px) and 
    (max-width:900px){
        header {
            height: 53vh;
        }


        .servicio {
            width: 45%;
        }

        .publicacion {
            width: 62%;
        }

    }


}
